# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# local database
/.local/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/AI-flashcard-deepseek.iml
/.swc/plugins/v7_windows_x86_64_0.104.8/8be728499de3a4274cc24e6d73099f2a8b59a7a2650b667319d8783571923e4d
/.idea/.gitignore
